.App {
  min-height: 100vh;
  background-color:aliceblue;
}

.container {
  width: 80vh;
  margin: 0 auto;
  padding-top: 23vh;

}

.generator {
  background: rgb(116, 212, 250);
  border-radius: 1vh;
  box-shadow: 0vh 5vh 5vh rgba(255,255,255, 0.2);
  padding: 5vh;
}

.generator_header {
  text-align: center;
  color:white;
  margin-bottom: 3vh;
}

.generator_password {
  position: relative;
  background-color: rgba(65, 65, 65, 0.4);
  padding: 1.5vh 1vh;
  color: white;
  height: 6vh;
  margin-bottom: 3vh;
}

.copy_btn {
  position: absolute;
  background: #edffff;
  color: black;
  border: none;
  height: 5.03vh;
  padding: 1.5vh;
  cursor: pointer;
  top: 0.5vh;
  right: 0.5vh;
}

.generator-btn {
  background: rgba(65, 65, 65, 0.4);;
  border: none;
  display: block;
  width: 100%;
  padding: 2vh;
  color: white;
  font-size: 2.4vh;
  cursor: pointer;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 2vh;
}